* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
}

.container {
  /* border: 5px solid black; */
  width: 80%;
  margin: 50px auto;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 50px black;
}

.iconbar {
  /* border: 2px solid rgb(33, 16, 189); */
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  flex-wrap: wrap;
  margin-left: 3rem;
  border-bottom: 2px solid rgb(160, 159, 172);
}

.input-part {
  /* border: 2px solid rgb(16, 189, 146); */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input-part select {
  /* border: 3px solid rgb(33, 16, 189); */
  width: 188px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-input {
  /* border: 2px solid rgb(16, 189, 146); */
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: azure;
  border-radius: 5px;
  margin-left: 1rem;
}

.search-input input {
  background-color: azure;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.support {
  /* border: 2px solid rgb(16, 189, 146); */
  text-align: right;
  margin-left: 1rem;
}
.support .support-number {
  font-size: 1.5rem;
}
.support .support-text {
  font-size: 0.8rem;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px black;
  margin: 1rem;
}

.icons {
  /* border: 2px solid rgb(184, 119, 34); */
  margin-right: 2rem;
}

.icons img {
  padding: 10px;
}

.navbar {
  /* border: 2px solid rgb(184, 119, 34); */
  display: flex;
  align-items: center;
  padding: 10px 50px;
  margin-left: 3rem;
}

.button {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 40px;
  font-size: 1.3rem;
  background-color: antiquewhite;
  border-radius: 5px;
  font-style: italic;
  gap: 1rem;
}

.nav {
}

li {
  display: inline-block;
  margin-left: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./images/stock.jpg);
  padding: 1rem 5rem;
  margin-top: 1rem;
  gap: 1rem;
}

.essential {
  background-color: azure;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.essential-text {
  padding: 20px;
  letter-spacing: 0.3px;
  font-style: italic;
}

.lighting {
  background-color: rgb(214, 172, 34);
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.lighting img {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
}

.light {
  width: 80%;
  float: right;
  margin-top: 20px;
  font-style: italic;
  padding: 2rem;
}

.categorySection {
  background-color: #aea08d;
}

.cathegoryPart {
  padding: 2rem;
  font-size: 1.5rem;
}

.cathegories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cathegory {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  background-color: #eeecec;
  padding: 1rem 2px 1rem 1rem;
  border-radius: 10px;
}

.cathegory img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 2rem;
  object-fit: cover;
}

.productSection {
  background-color: #eeecec;
}

.product-part {
  padding: 2rem;
  font-size: 1.5rem;
}

.products {
  /* border: 2px solid rgb(16, 189, 146); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.product {
  width: 20rem;
  height: 20rem;
  background-color: #d9d9d9d9;
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 20px black;
  /* overflow: hidden; */
}

.product img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  padding: 2 rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #aea08d;
}

.expert {
  width: 50%;
  padding: 1rem;
}

.lookforExpert {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.LeaveInfo {
  margin-top: 1 rem;
  font-style: italic;
  font-size: 1rem;
}

span {
  color: rgb(255, 153, 0);
}

.formSection {
  width: 40%;
  background-color: inherit;
  font-size: 1.5rem;
}

.formElement {
  margin: 1.5rem 1rem;
}

.formElement input {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

.submit {
  padding: 1rem;
  border-radius: 5px;
  width: 13rem;
  height: 40px;
  margin-left: 1rem;
  font-style: italic;
  border: 1px solid rgb(238, 146, 7);
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  
}



.left {

}

.policy {
  display: flex;
  gap: 1rem;
 
}

.policy a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
    
}